<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Acceuil</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>

    </ul>


    <a class="nav-link" href="#">Link</a>
    <ul>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mon compte
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a  class="nav-link" (click)="ngxSmartModalService.getModal('myModal').open()">Connexion</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>




  </div>
</nav>

<ngx-smart-modal  #myModal [identifier]="'myModal'">
  <div class="modal-header">
    <h1>Connexion</h1>
  </div>

  <div class="modal-content">
    <p>Some stuff...</p>

    <button (click)="myModal.close()">Close</button>
    <ul>
      <li>efr</li>
      <li>efr</li>
      <li>efr</li>
      <li>efr</li>
      <li>efr</li>
      <li>efr</li>
      <li>efr</li>
      <li>efr</li>
      <li>efr</li>
      <li>efr</li>
    </ul>
  </div>


</ngx-smart-modal>







